*.o
*.out
*.a
*.so

main
my_shell

/build/
/bin/

# ==========================================
# Tooling & LSP (Clangd)
# ==========================================
compile_commands.json
.cache/
.clangd/

# ==========================================
# ==========================================
*.swp
*.swo
*~

.DS_Store
Thumbs.db
.aider*
